@model Order
@{
    ViewData["Title"] = "Bag";
}

@if ( Model != null)
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>PRODUCT</th>
                <th>COUNR</th>
                <th>PRICE</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.orderDeatails)

            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Count</td>
                    <td>@( item.Count * item.Price)</td>
                    <td>
                        <a asp-action="RemoveCart" asp-route-detailId="@item.DetailId">DELETE</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <h5>Total Price : @Model.orderDeatails.Sum( s => s.Count * s.Price)</h5>

    
}
else
{
   <div class="alert alert-danger">There is no resipt </div> 
}